.badges-container {
    width: 500px;
    height:50px;
    margin-top: 15px;
    font-family: 'Bebas Neue', sans-serif;
}

.label {
    color:#2dba4eb4;
    font-size: 12pt;
}
.chart {
    width: 650px;
}