.leaderboard-container {
    background-color:#24292e;
    height: 400px;
    width: 440px;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.527);
}
.leaderboard-list {
    padding-left: 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 10pt;
}
.leaderboard-item {
    color: white;
    display: flex;
    padding-bottom: 10px;
}
.title-container {
    width: 100%;
    height:20px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.title {
    background-color: rgba(114, 114, 114, 0.514);
    height:20px;
    width:95%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    
}
.title-item{
    color:rgb(170, 170, 170);
    font-family: 'Roboto Mono', monospace;
    font-size: 10pt;
}
.title-name {
    width:90px
}
.leaderboard-names {
    width:200px;
    display: flex;
    
}
.user-image {
    height:20px;
    width:20px;
    padding-right: 10px;
}
.image-url {
    width:100%;
}
.score-item {
    width:110px
}
.location-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100px
}