.nav-container {
    background-color: #24292e;
    height: 15vh;
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
}

.nav-items {
    width:70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
    max-width: 1300px;
}

.search-user {
    position: 0;
    display: flex;
    justify-content: space-between;
}

.search-wrapper {
    position: relative;
}
  
.search-icon {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    color: #1e1f20;
    /* Additional styling for the icon (size, color, etc.) */
}

.nav-input {
    position: right;
    width: 100%;
    height:30px;
    background-color: #3a3f44;
    border: none;
    border-radius: 10px;
    font-size: 15pt;
    padding-left: 20px;
    color: #000000
}

.nav-input:focus {
    outline: 1px solid #2dba4e;
}

.nav-button {
    height: 30px;
    border: none;            /* Removes the border */
    padding: 0;              /* Removes padding */
    margin: 0;               /* Removes margin */
    cursor: pointer;         /* Keeps the cursor as a pointer to indicate it's clickable */
    border-radius: 7px;
    width:35px;
    background-color: #a1a1a1;
    font-family: 'Roboto Mono', monospace;
}

.profile-icon {
    color: white;
    height:20px;
    padding-left:5%;
    margin-right:0px
}

@media (max-width:430px) {
    .nav-container {
        background-color: #24292e;
        height: 10vh;
    }
    .nav-items {
        width:90%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 5%;
        max-width: 1300px;
    }
    
    .search-user {
        position: 0;
        display: flex;
        justify-content: space-between;
    }

    .search-wrapper {
        position: relative;
    }
    .nav-input {
        position: right;
        width: 90%;
        height:30px;
        background-color: #3a3f44;
        border: none;
        border-radius: 10px;
        font-size: 15pt;
        padding-left: 20px;
        color: #000000
    }
}

@media (max-width:660px) {
    .nav-input {
        position: right;
        width: 90%;
        height:30px;
        background-color: #3a3f44;
        border: none;
        border-radius: 10px;
        font-size: 15pt;
        padding-left: 20px;
        color: #000000
    }
}