.page-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.page-main {
    justify-content: center;
    width:100%;
    display: flex;
}
@media (max-width:500) {
    .page-main {
        width: 100%;
    }
}

